[Desktop Entry]
Type=Application
Exec=/home/eddie/bin/xmousepasteblock
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=xmousepasteblock
Name=xmousepasteblock
Comment[en_GB]=
Comment=
